.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Make it responsive */
@media only screen and (max-width:668.99px) {
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:669px) and (max-width: 991px){
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}